/* ==================================================
   AUTH
   ================================================== */

.auth {
  &__title {
    text-align: center;
    margin-bottom: 60px;

    span {
      color: $blue;
    }
  }

  & .form__login {
    max-width: 242px;
    margin: 0 auto;

    @include respond-below(sm) {
      max-width: 100%;
    }
  }

  .alert {
    text-align: center;
    padding: 10px;
    color: $white;
    border-radius: 3px;
    max-width: 242px;
    margin: 0 auto $space-20;

    @include respond-below(sm) {
      max-width: 100%;
    }

    &__danger {
      background-color: lighten($red, 20%);
    }

    &__success {
      background-color: lighten($green, 20%);
    }
  }
}
