/* ==================================================
   ERRORS
   ================================================== */

#not-found {
  text-align: center;

  h1 {
    margin-bottom: $space-20;
  }
}
