/* ==================================================
   PROFILE
   ================================================== */

.profile {
  &__container {
    max-width: 560px;
    margin: 0 auto;

    &>h3 {
      padding: 0 20px;
    }
  }

  &__back {
    text-align: center;

    &__link {
      @include font-family('primary');
      font-size: 16px;
      text-transform: uppercase;
      color: $blue;

      &:active,
      &:hover {
        color: darken($blue, 20%);
        text-decoration: underline;
      }
    }
  }
}

.interests {
  margin: 0 -7px;
  margin-bottom: 38px;

  &__item {
    display: inline-block;
    padding: 0 7px 14px;
  }
}

.form {
  &__profile {
    margin-bottom: 25px;
    text-align: center;

    &__submit {
      max-width: 242px;
      margin: 0 auto;
    }
  }
}
