/* ==================================================
   ARTICLES
   ================================================== */

.article {
  margin-bottom: $space-15;

  &__wrapper {
    @include respond-below(sm) {
      margin-bottom: 60px;

      .article,
      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  &__divider {
    margin-bottom: 6px;
  }

  &__breakline {
    overflow: auto;
    zoom: 1;
    clear: both;
    margin: 10px 15px;
    border: 1px solid $gray-light;

    @include respond-below(sm) {
      display: none;
    }
  }

  &__tag {
    @include font-family('primary');
    @include font-weight('regular');
    font-size: 10px;
    line-height: 12px;
    text-transform: uppercase;
    color: $gray-medium;

    &:active,
    &:hover {
      @include font-weight('bold');
    }

    &__tech {
      color: $blue;
    }

    &__politics {
      color: $red;
    }

    &__business {
      color: $purple;
    }

    &__science {
      color: $green;
    }

    &__sports {
      color: $orange;
    }
  }

  &__figure {
    position: relative;
    margin-bottom: $space-15;
    overflow: hidden;
    max-height: 167px;

    @include respond-below(sm) {
      max-height: inherit;
    }

    &:hover {
      .article__readmore {
        top: 0;
      }
    }
  }

  &__readmore {
    position: absolute;
    height: 100%;
    width: 100%;
    top: -100%;
    left: 0;
    text-align: center;
    padding-top: 25%;
    transition: top .8s linear;

    @include respond-between(sm, md) {
      padding-top: 18%;
    }

    @include respond-below(sm) {
      padding-top: 44%;
    }
  }

  &__image {
    max-width: 100%;
    margin: 0 auto;
    display: block;
  }

  &__title {
    @include font-family('primary');
    @include font-weight('regular');
    font-size: 17px;
    line-height: 21px;
    margin-bottom: $space-10;

    a {
      color: $black;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__author {
    @include clearfix();
    position: relative;
    margin-bottom: $space-20;

    &__photo {
      img {
        max-height: 32px;
        @include border-radius(100px);
      }
    }

    &__photo,
    &__name {
      float: left;
    }

    &__name {
      font-size: 12px;
      line-height: 1;
      color: $gray-weak;
      position: relative;
      margin: 10px 0 0 8px;
    }
  }

  &__description {
    a {
      color: $gray-medium;

      &:hover {
        text-decoration: underline;
        color: $black;
      }
    }
  }

  &.large {
    .article__title {
      font-size: 29px;
      line-height: 35px;

      @include respond-below(xs) {
        font-size: 17px;
        line-height: 21px;
      }
    }

    .article__author {
      &__photo {
        img {
          max-width: 45px;
        }
      }
    }

    .article__figure {
      max-height: 354px;

      @include respond-below(sm) {
        max-height: inherit;
      }
    }

    .article__readmore {
      padding-top: 30%;

      @include respond-between(sm, md) {
        padding-top: 22%;
      }

      @include respond-below(sm) {
        padding-top: 40%;
      }
    }
  }
}
