/* ==================================================
   FORM
   ================================================== */

.form {
  &__row {
    margin-bottom: $space-20;
  }

  &__label {
    @include font-family('primary');
    @include font-weight('regular');
    color: $gray-darken;
    margin-bottom: $space-10;
    display: block;
    text-transform: uppercase;
  }

  &__button {
    width: 100%;
    display: block;
  }
}
