/* ==================================================
   HEADER
   ================================================== */

.header {
  min-height: 56px;
  padding: 6px 0;
  border: none;
  border-bottom: 1px solid $gray-lighten;

  &__container {
    position: relative;
  }
}

.logo {
  display: inline-block;

  @include respond-below(sm) {
    display: block;
    text-align: center;
  }

  img {
    height: 45px;
  }
}
