/* ==================================================
   MAIN NAVIGATION
   ================================================== */

.nav {
  float: right;
  position: relative;
  top: 15px;

  &__item {
    display: inline-block;
    padding: 0 15px;

    &__login {
      padding-right: 0;
      padding-left: 35px;
    }

    a {
      text-transform: uppercase;
      color: $gray-darken;

      &:hover,
      &:active,
      &.active,
      &.login__area {
        color: $blue;
        @include font-weight('bold');
      }
    }

    &.politics {
      a {
        &:hover,
        &:active,
        &.active {
          color: $red;
        }
      }
    }

    &.business {
      a {
        &:hover,
        &:active,
        &.active {
          color: $purple;
        }
      }
    }

    &.science {
      a {
        &:hover,
        &:active,
        &.active {
          color: $green;
        }
      }
    }

    &.sports {
      a {
        &:hover,
        &:active,
        &.active {
          color: $orange;
        }
      }
    }
  }

  &__toggle {
    position: absolute;
    left: 15px;
    top: 14px;
    background: none;
    border: none;
    padding: 0;
    height: 19px;
    width: 24px;
    outline: none;
    cursor: pointer;
    display: none;

    @include respond-below(sm) {
      display: block;
    }

    &.active {
      .nav__toggle__icon {
        border: none;

        &:after {
          transform: rotate(45deg);
          bottom: 6px;
        }
        &:before {
          transform: rotate(-45deg);
          top: 10px;
        }
      }
    }

    &__icon {
      height: 100%;
      width: 24px;
      border-bottom: 3px solid $black;
      display: block;
      position: relative;

      &:before,
      &:after {
        content: '';
        position: absolute;
        height: 3px;
        width: 24px;
        background-color: $black;
        left: 0;
      }

      &:before {
        top: 0;
      }

      &:after {
        bottom: 5px;
      }
    }
  }

  @include respond-below(sm) {
    float: none;
    display: none;

    &.active {
      display: block;
      position: absolute;
      width: 100%;
      top: 56px;
      left: 0;
      background-color: $white;
      z-index: 100;
      padding: 10px 0;
    }

    &__item {
      display: block;
      padding: 0;

      & a {
        display: block;
        padding: 15px 30px;
      }
    }
  }
}
