/* ==================================================
   TYPOGRAPHY
   ================================================== */

h1, h2, h3, h4, h5, h6 {
  color: $gray-darken;
  text-transform: uppercase;
}

h1 {
  @include font('h1');
}

h3 {
  @include font('h3');
  margin-bottom: $space-20;
}
